body {
  background-color: rgb(255, 255, 255);
    color: rgb(33, 37, 41); /* Tech hardware */
}

section {
   background-color: rgb(255, 255, 255);
    color: rgb(33, 37, 41); /* Dark gray */
}

h1 {
    color: #3399ff; /* Blue */
}

a {
    color: #3399ff;
}

a:hover {
    color: #ff6200;
}
